@import "../vendors/include-media";

	/* ====== ShowPanel
	======================================= */

	@keyframes ShowPanel {
		0%   {
			opacity: 0;
			transform: translate3d(0,-1rem,0);
		}
		100% {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}

	/* ====== HidePanel
	======================================= */

	@keyframes HidePanel {
		0%   {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
		100% {
			opacity: 0;
			transform: translate3d(0,1rem,0);
		}
	}

/********************************************************************************************************************************************************************************
********************* H E A D E R *****************
/********************************************************************************************************************************************************************************/

.the-header {
    margin-bottom: 1em;
    min-height: 150px;

	/* ====== LOGO
	======================================= */

	.branding {
		width: 100px;
		position: absolute;
		top: 56px;
		left: calc(50% - 50px);
        color: white;
        svg {
            display: block;
            color: inherit;
            width: 100px;
            height: 75px;
        }
		a {
		    color: inherit;
		    display: block;
        }
	}

	/* ====== MENU HEADER
	======================================= */

    .the-header__container-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
        /* design */
        padding: 1rem;
        background-color: rgba(black, .4);
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
    .the-header__container-inner-part-one, .the-header__container-inner-part-two {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    .the-header__container-inner-part-two {

    }

    /* ====== SOCIAL
    ======================================= */

    .social {
        list-style: none none;
        display: flex;
        margin-right: 2rem;
        li {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
        a[href*="facebook"] {
            color: $facebook;
        }
        a[href*="twitter"] {
            color: $twitter;
        }
        a[href*="youtube"] {
            color: $youtube;
        }
    }

    /* ====== LEFT
    ======================================= */

    .menu-trigger {
        color: white;
        margin-right: 1rem;
        cursor: pointer;
        span {
            margin-left: .5rem;
        }
        .icon-burger {
            color: white;
        }
        &:hover, &:focus {
            span {
                color: white;
                text-decoration: underline;
            }
        }
    }
    .btn-forum {
        display: flex;
        align-content: center;
        align-items: center;
        color: white;
        svg {
            margin-right: .5rem;
        }
    }

    /* ====== RIGHT
    ======================================= */

    .btn-compte {
        display: flex;
        align-content: center;
        align-items: center;
        color: white;
        svg {
            margin-left: .5rem;
        }
    }

}

/* ============== R E S P O N S I V E
========================================================== */



/* ============== H E A D  S E C T I O N
========================================================== */

.header_section {
	padding: 2rem 0;
	.global-title {
		font-family: $font-stack-simili;
		font-size: $al-size;
		margin: 0;
		padding: 0;
		text-align: center;
		abbr {
			border: 0;
		}
		& + p {
			@include rem(1.8);
			font-family: $font-stack-simili;
			font-weight: 300;
			margin-top: 1em;
			.dropcaps {
				font-family: "Palatino Linotype", Palatino, $font-stack-simili;
				display: block;
				font-style: normal;
				font-size: 6.6em;
				float: left;
				margin: .08em .07em 0 0;
				line-height: .67em;
				color: white;
			}
		}
	}
	.more {
		color: white;
		.icon {
			color: white;
		}
	}
}