@import "../vendors/include-media";

/********************************************************************************************************************************************************************************
********************* N E W S *****************
/********************************************************************************************************************************************************************************/

#news_general {

}

.grid-une {
    display: grid;
    @include media('<small-plus-screen') {
        grid-template-areas: "a b" "a b" "c c" "d e" "d e" "f f" "g h" "g h" "i i ";
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 0;
        grid-row-gap: 0;
        height: 900px;
    }
    @include media('>=small-plus-screen','<=medium-screen') {
        grid-template-areas: "a b c"
                             "d d c"
                             "e f g"
                             "h f i";
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(4, 150px);
        grid-column-gap: 1%;
        grid-row-gap: 1.5%;
        height: 620px;
    }
    @include media('>medium-screen','<large-plus-screen') {
        grid-template-areas: "a a b b"
                             "c d d e"
                             "c d d e"
                             "f g h i";
        grid-template-columns: repeat(4, 24.2%);
        grid-template-rows: repeat(4, 150px);
        grid-column-gap: 1%;
        grid-row-gap: 2%;
        height: 650px;
    }
    @include media('>=large-plus-screen') {
        /* a b c d e f g h i */
        height: 60vh;
        grid-column-gap: 1%;
        grid-row-gap: 3%;
        grid-template-columns: repeat(5, 19.2%);
        grid-template-areas: "a b c d e"
                             "f g c h i";
    }
}
// ANIMATION DE LA UNE DU SITE
.grid-une__item {
    transition: all .2s ease-in;
    opacity: 0;
    transform: translate3d(0,20px,0);
    .is-loaded & {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.grid-une__item_00 {
    grid-area: a;
    background-color: #E0DDCF;
}
.grid-une__item_01 {
    grid-area: b;
    background-color: #2D232E;
    transition-delay: .8s;
}
.grid-une__item_02 {
    grid-area: c;
    background-color: #F1F0EA;
    transition-delay: 1.2s;
}
.grid-une__item_03 {
    grid-area: d;
    background-color: #A0D1E5;
    transition-delay: 1.4s;
}
.grid-une__item_04 {
    grid-area: e;
    background-color: #A9A9BC;
    transition-delay: .2s;
}
.grid-une__item_05 {
    grid-area: f;
    background-color: #F9C2A2;
    transition-delay: .4s;
}
.grid-une__item_06 {
    grid-area: g;
    background-color: #FCDEBE;
    transition-delay: .6s;
}
.grid-une__item_07 {
    grid-area: h;
    background-color: #E2EFDE;
    transition-delay: 1s;
}
.grid-une__item_08 {
    grid-area: i;
    background-color: #D3AB9E;
    transition-delay: 1.6s;
}

/* ============== E N T R Y  C A R D
========================================================== */

.entry-card {
    position: relative;
    overflow: hidden;
    height: 100%;
    .entry-card__wrapper {
        height: 100%;
    }
    .entry-card__date {
        position: absolute;
        top: 0;
        left: 0;
        background-color: lightblue;
        color: white;
        padding: 1rem;
        overflow: hidden;
    }
    .entry-card__data {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .entry-card__content {
            background-color: rgba(white,.6);
            padding: 1em;
            position: relative;
            z-index: 1;
        }
        .entry-card__cat {
            font-family: $font-stack-caps;
            a {
                text-transform: lowercase;
                font-variant: small-caps;
                font-weight: bold;
                &:not(:last-child) {
                    margin-right: .5rem;
                }
            }
        }
        .entry-card__title {
            font-family: $font-stack-condensed;
            padding: 0;
            margin: 1rem 0;
            font-weight: lighter;
        }
    }
}

