<link rel="publisher" href="http://plus.google.com/+ElbakinNetFantasy" />
<!-- opengraph stuff -->
<meta property="og:url" content="http://www.elbakin.net" />
<meta property="og:description" content="Site d'actualité sur la fantasy, le merveilleux. Chroniques littéraires, de films, essais sur J.R.R Tolkien" />
<meta property="og:image" content="gu-logo-fallback.png"/>
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="180444840287" />
<meta property="og:site_name" content="Elbakin.net" />
<!-- twitter stuff -->
<meta name="twitter:site" content="@elbakin" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="http://www.elbakin.net"/>
<meta property="og:title" content="Fantasy, actualité littéraire, cinéma, fantasy et merveilleux | Elbakin.net"/>